.pokemon-card {
    margin: 7.2525% 50px;
    flex-direction: column;
    place-items: center;

    .pokemon-card-image {
        background-color: #F2F2F2;
        border-radius: 5px;
    }

    .pokemon-card-number,
    .pokemon-card-name {
        text-align: center;
        padding: 4px 10px;
    }

    .pokemon-card-number {
        text-align: left;
        color: #919191;
        font-size: 80%;
        padding-top: 2px;
    }

    .pokemon-card-name {
        text-align: left;
        color: #313131;
        font-size: 145%;
        margin-bottom: 5px;
    }

    .pokemon-card-types {
        display: flex;
        justify-content: space-between;

        .pokemon-card-type {
            text-align: center;
            width: 80px;
            padding: 5px;
            margin: 0 5px;
            border-radius: 5px;
        }
    }
    
    .pokemon-bug {
        background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
        background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
        background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
        background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
        background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
        background-color: #729f3f;
        color: #fff;
    }

    .pokemon-dark {
        background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);
        background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);
        background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);
        background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);
        background: linear-gradient(180deg, #707070 50%, #707070 50%);
        background-color: #707070;
        color: #fff;
    }

    .pokemon-dragon {
        background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        background-color: #53a4cf;
        color: #fff;
    }

    .pokemon-electric {
        background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
        background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
        background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
        background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
        background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
        background-color: #eed535;
        color: #212121;
    }

    .pokemon-grass {
        background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
        background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
        background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
        background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
        background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
        background-color: #9bcc50;
        color: #212121;
    }

    .pokemon-poison {
        background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
        background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
        background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
        background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
        background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
        background-color: #b97fc9;
        color: #fff;
    }
}
